<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>232AC719-F842-40DE-8EB0-B7E91F9C1555</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
