<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>40122BF3-61FE-449F-8603-145E7EE6926B</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.s</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
