<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>Regular Sep 16 15, 19:42</string>
      <string>glyphs.R_egular S_ep 16 15, 19_42</string>
    </array>
    <array>
      <string>Regular Sep 17 15, 16:26</string>
      <string>glyphs.R_egular S_ep 17 15, 16_26</string>
    </array>
    <array>
      <string>Regular Sep 15 15, 18:03</string>
      <string>glyphs.R_egular S_ep 15 15, 18_03</string>
    </array>
    <array>
      <string>Regular Sep 10 15, 14:17</string>
      <string>glyphs.R_egular S_ep 10 15, 14_17</string>
    </array>
    <array>
      <string>Regular Sep 18 15, 13:08</string>
      <string>glyphs.R_egular S_ep 18 15, 13_08</string>
    </array>
    <array>
      <string>Regular Sep 18 15, 13:08.background</string>
      <string>glyphs.R_egular S_ep 18 15, 13_08.background</string>
    </array>
    <array>
      <string>Jul 24 17, 13:44</string>
      <string>glyphs.J_ul 24 17, 13_44</string>
    </array>
    <array>
      <string>Jul 24 17, 13:44.background</string>
      <string>glyphs.J_ul 24 17, 13_44.background</string>
    </array>
    <array>
      <string>Jul 24 17, 13:57</string>
      <string>glyphs.J_ul 24 17, 13_57</string>
    </array>
    <array>
      <string>Jul 24 17, 13:57.background</string>
      <string>glyphs.J_ul 24 17, 13_57.background</string>
    </array>
    <array>
      <string>Regular Sep 16 15, 17:15</string>
      <string>glyphs.R_egular S_ep 16 15, 17_15</string>
    </array>
    <array>
      <string>Regular Nov 30 15, 16:33</string>
      <string>glyphs.R_egular N_ov 30 15, 16_33</string>
    </array>
    <array>
      <string>Regular Nov 13 15, 11:54</string>
      <string>glyphs.R_egular N_ov 13 15, 11_54</string>
    </array>
    <array>
      <string>Regular Nov 13 15, 11:54.background</string>
      <string>glyphs.R_egular N_ov 13 15, 11_54.background</string>
    </array>
    <array>
      <string>Regular Oct 29 15, 22:46</string>
      <string>glyphs.R_egular O_ct 29 15, 22_46</string>
    </array>
    <array>
      <string>Regular Nov 15 15, 20:51</string>
      <string>glyphs.R_egular N_ov 15 15, 20_51</string>
    </array>
    <array>
      <string>Regular Nov 15 15, 21:57</string>
      <string>glyphs.R_egular N_ov 15 15, 21_57</string>
    </array>
    <array>
      <string>Regular Nov 26 15, 11:06</string>
      <string>glyphs.R_egular N_ov 26 15, 11_06</string>
    </array>
    <array>
      <string>Regular Nov 26 15, 11:06.background</string>
      <string>glyphs.R_egular N_ov 26 15, 11_06.background</string>
    </array>
    <array>
      <string>Regular Nov 26 15, 11:12</string>
      <string>glyphs.R_egular N_ov 26 15, 11_12</string>
    </array>
    <array>
      <string>Regular Nov 26 15, 11:09</string>
      <string>glyphs.R_egular N_ov 26 15, 11_09</string>
    </array>
  </array>
</plist>
