<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>A</key>
    <string>A_.glif</string>
    <key>A.ordn</key>
    <string>A_.ordn.glif</string>
    <key>A.sc</key>
    <string>A_.sc.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>AE.sc</key>
    <string>A_E_.sc.glif</string>
    <key>Adieresis.deu</key>
    <string>A_dieresis.deu.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>B.ordn</key>
    <string>B_.ordn.glif</string>
    <key>B.sc</key>
    <string>B_.sc.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>C.ordn</key>
    <string>C_.ordn.glif</string>
    <key>C.pc</key>
    <string>C_.pc.glif</string>
    <key>Cheabkhasian-cy</key>
    <string>C_heabkhasian-cy.glif</string>
    <key>D.ordn</key>
    <string>D_.ordn.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>E.ordn</key>
    <string>E_.ordn.glif</string>
    <key>E.sc</key>
    <string>E_.sc.glif</string>
    <key>Emtail-cy</key>
    <string>E_mtail-cy.glif</string>
    <key>Eng</key>
    <string>E_ng.glif</string>
    <key>Ertick-cy</key>
    <string>E_rtick-cy.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Eth.sc</key>
    <string>E_th.sc.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>F.ordn</key>
    <string>F_.ordn.glif</string>
    <key>F.sc</key>
    <string>F_.sc.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>G.ordn</key>
    <string>G_.ordn.glif</string>
    <key>G.sc</key>
    <string>G_.sc.glif</string>
    <key>Gamma.sc</key>
    <string>G_amma.sc.glif</string>
    <key>Gestrokehook-cy</key>
    <string>G_estrokehook-cy.glif</string>
    <key>Glottalstop</key>
    <string>G_lottalstop.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>H.ordn</key>
    <string>H_.ordn.glif</string>
    <key>H.sc</key>
    <string>H_.sc.glif</string>
    <key>Haabkhasian-cy</key>
    <string>H_aabkhasian-cy.glif</string>
    <key>Hadescender-cy</key>
    <string>H_adescender-cy.glif</string>
    <key>Hahook-cy</key>
    <string>H_ahook-cy.glif</string>
    <key>Hbar</key>
    <string>H_bar.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>I.ordn</key>
    <string>I_.ordn.glif</string>
    <key>I.sc</key>
    <string>I_.sc.glif</string>
    <key>Iishorttail-cy</key>
    <string>I_ishorttail-cy.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>J.ordn</key>
    <string>J_.ordn.glif</string>
    <key>J.pc</key>
    <string>J_.pc.glif</string>
    <key>J.sc</key>
    <string>J_.sc.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>K.ordn</key>
    <string>K_.ordn.glif</string>
    <key>K.pc</key>
    <string>K_.pc.glif</string>
    <key>K.sc</key>
    <string>K_.sc.glif</string>
    <key>Kadescender-cy</key>
    <string>K_adescender-cy.glif</string>
    <key>Kahook-cy</key>
    <string>K_ahook-cy.glif</string>
    <key>KaiSymbol</key>
    <string>K_aiS_ymbol.glif</string>
    <key>Kastroke-cy</key>
    <string>K_astroke-cy.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>L.ordn</key>
    <string>L_.ordn.glif</string>
    <key>L.sc</key>
    <string>L_.sc.glif</string>
    <key>L.script</key>
    <string>L_.script.glif</string>
    <key>Lambda.sc</key>
    <string>L_ambda.sc.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>Ldot</key>
    <string>L_dot.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>Lslash.sc</key>
    <string>L_slash.sc.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>M.ordn</key>
    <string>M_.ordn.glif</string>
    <key>M.sc</key>
    <string>M_.sc.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>N.ordn</key>
    <string>N_.ordn.glif</string>
    <key>N.sc</key>
    <string>N_.sc.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>O.pc</key>
    <string>O_.pc.glif</string>
    <key>O.sc</key>
    <string>O_.sc.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>OE.sc</key>
    <string>O_E_.sc.glif</string>
    <key>Odieresis.deu</key>
    <string>O_dieresis.deu.glif</string>
    <key>Ohorn</key>
    <string>O_horn.glif</string>
    <key>Ohorn.sc</key>
    <string>O_horn.sc.glif</string>
    <key>Omega</key>
    <string>O_mega.glif</string>
    <key>Oslash.sc</key>
    <string>O_slash.sc.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>P.ordn</key>
    <string>P_.ordn.glif</string>
    <key>P.sc</key>
    <string>P_.sc.glif</string>
    <key>Pedescender-cy</key>
    <string>P_edescender-cy.glif</string>
    <key>Pemiddlehook-cy</key>
    <string>P_emiddlehook-cy.glif</string>
    <key>Phi</key>
    <string>P_hi.glif</string>
    <key>Pi.sc</key>
    <string>P_i.sc.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>Q.long</key>
    <string>Q_.long.glif</string>
    <key>Q.low</key>
    <string>Q_.low.glif</string>
    <key>Q.ordn</key>
    <string>Q_.ordn.glif</string>
    <key>Q.pc</key>
    <string>Q_.pc.glif</string>
    <key>Q.sc</key>
    <string>Q_.sc.glif</string>
    <key>Q.short</key>
    <string>Q_.short.glif</string>
    <key>Q_y</key>
    <string>Q__y.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>R.ordn</key>
    <string>R_.ordn.glif</string>
    <key>R.sc</key>
    <string>R_.sc.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>S.ordn</key>
    <string>S_.ordn.glif</string>
    <key>S.pc</key>
    <string>S_.pc.glif</string>
    <key>S.sc</key>
    <string>S_.sc.glif</string>
    <key>Semisoftsign-cy</key>
    <string>S_emisoftsign-cy.glif</string>
    <key>Sigma</key>
    <string>S_igma.glif</string>
    <key>Sigma.sc</key>
    <string>S_igma.sc.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>T.sc</key>
    <string>T_.sc.glif</string>
    <key>T_h</key>
    <string>T__h.glif</string>
    <key>Tbar</key>
    <string>T_bar.glif</string>
    <key>Tbar.sc</key>
    <string>T_bar.sc.glif</string>
    <key>Tetse-cy</key>
    <string>T_etse-cy.glif</string>
    <key>Theta</key>
    <string>T_heta.glif</string>
    <key>Theta.sc</key>
    <string>T_heta.sc.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>Thorn.sc</key>
    <string>T_horn.sc.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>U.ordn</key>
    <string>U_.ordn.glif</string>
    <key>U.sc</key>
    <string>U_.sc.glif</string>
    <key>Udieresis.deu</key>
    <string>U_dieresis.deu.glif</string>
    <key>Udieresis.deu.01</key>
    <string>U_dieresis.deu.01.glif</string>
    <key>Upsilon</key>
    <string>U_psilon.glif</string>
    <key>Upsilon.sc</key>
    <string>U_psilon.sc.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>V.ordn</key>
    <string>V_.ordn.glif</string>
    <key>V.pc</key>
    <string>V_.pc.glif</string>
    <key>V.sc</key>
    <string>V_.sc.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>W.ordn</key>
    <string>W_.ordn.glif</string>
    <key>W.pc</key>
    <string>W_.pc.glif</string>
    <key>W.sc</key>
    <string>W_.sc.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>X.ordn</key>
    <string>X_.ordn.glif</string>
    <key>X.pc</key>
    <string>X_.pc.glif</string>
    <key>X.sc</key>
    <string>X_.sc.glif</string>
    <key>Xi</key>
    <string>X_i.glif</string>
    <key>Xi.sc</key>
    <string>X_i.sc.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Y.ordn</key>
    <string>Y_.ordn.glif</string>
    <key>Y.sc</key>
    <string>Y_.sc.glif</string>
    <key>Yusbig-cy</key>
    <string>Y_usbig-cy.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>Z.ordn</key>
    <string>Z_.ordn.glif</string>
    <key>Z.sc</key>
    <string>Z_.sc.glif</string>
    <key>Zhedescender-cy</key>
    <string>Z_hedescender-cy.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>a.ordn</key>
    <string>a.ordn.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acutecomb</key>
    <string>acutecomb.glif</string>
    <key>acutecomb.flat</key>
    <string>acutecomb.flat.glif</string>
    <key>acutecomb.stack</key>
    <string>acutecomb.stack.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>alpha</key>
    <string>alpha.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>ampersand.sc</key>
    <string>ampersand.sc.glif</string>
    <key>angleleft</key>
    <string>angleleft.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>arrowboth</key>
    <string>arrowboth.glif</string>
    <key>arrowdblright</key>
    <string>arrowdblright.glif</string>
    <key>arrowdblup</key>
    <string>arrowdblup.glif</string>
    <key>arrowright</key>
    <string>arrowright.glif</string>
    <key>arrowup</key>
    <string>arrowup.glif</string>
    <key>arrowupdn</key>
    <string>arrowupdn.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>asciicircum.ordn</key>
    <string>asciicircum.ordn.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>asterisk.ordn</key>
    <string>asterisk.ordn.glif</string>
    <key>at.01</key>
    <string>at.01.glif</string>
    <key>at.ordn</key>
    <string>at.ordn.glif</string>
    <key>at.sc</key>
    <string>at.sc.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>b.ordn</key>
    <string>b.ordn.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>backslash.sc</key>
    <string>backslash.sc.glif</string>
    <key>bar.ordn</key>
    <string>bar.ordn.glif</string>
    <key>bar.sc</key>
    <string>bar.sc.glif</string>
    <key>beta</key>
    <string>beta.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>braceleft.ordn</key>
    <string>braceleft.ordn.glif</string>
    <key>braceleft.sc</key>
    <string>braceleft.sc.glif</string>
    <key>bracketleft.ordn</key>
    <string>bracketleft.ordn.glif</string>
    <key>bracketleft.sc</key>
    <string>bracketleft.sc.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>brokenbar.ordn</key>
    <string>brokenbar.ordn.glif</string>
    <key>brokenbar.sc</key>
    <string>brokenbar.sc.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>bullet.01</key>
    <string>bullet.01.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>c.ordn</key>
    <string>c.ordn.glif</string>
    <key>c_t</key>
    <string>c_t.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>cheabkhasian-cy</key>
    <string>cheabkhasian-cy.glif</string>
    <key>chedescender-cy</key>
    <string>chedescender-cy.glif</string>
    <key>chekhakassian-cy</key>
    <string>chekhakassian-cy.glif</string>
    <key>chi</key>
    <string>chi.glif</string>
    <key>chi.a1</key>
    <string>chi.a1.glif</string>
    <key>chi.a2</key>
    <string>chi.a2.glif</string>
    <key>chi.a3</key>
    <string>chi.a3.glif</string>
    <key>chi.a4</key>
    <string>chi.a4.glif</string>
    <key>chi.a5</key>
    <string>chi.a5.glif</string>
    <key>chi.a6</key>
    <string>chi.a6.glif</string>
    <key>chi.a7</key>
    <string>chi.a7.glif</string>
    <key>chi.a8</key>
    <string>chi.a8.glif</string>
    <key>chi.ipa</key>
    <string>chi.ipa.glif</string>
    <key>colon</key>
    <string>colon.glif</string>
    <key>colonsign</key>
    <string>colonsign.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>copyright.sc</key>
    <string>copyright.sc.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>d.ordn</key>
    <string>d.ordn.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>dagger.ordn</key>
    <string>dagger.ordn.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>daggerdbl.ordn</key>
    <string>daggerdbl.ordn.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>delta</key>
    <string>delta.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>dollar.ordn</key>
    <string>dollar.ordn.glif</string>
    <key>dong</key>
    <string>dong.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>dotbelowcomb</key>
    <string>dotbelowcomb.glif</string>
    <key>dotbelowcomb.cap</key>
    <string>dotbelowcomb.cap.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>e.ordn</key>
    <string>e.ordn.glif</string>
    <key>egrave.ordn</key>
    <string>egrave.ordn.glif</string>
    <key>eight.lf</key>
    <string>eight.lf.glif</string>
    <key>eight.ordn</key>
    <string>eight.ordn.glif</string>
    <key>eight.osf</key>
    <string>eight.osf.glif</string>
    <key>eight.sc</key>
    <string>eight.sc.glif</string>
    <key>eldescender-cy</key>
    <string>eldescender-cy.glif</string>
    <key>eltail-cy</key>
    <string>eltail-cy.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>emptyset</key>
    <string>emptyset.glif</string>
    <key>emtail-cy</key>
    <string>emtail-cy.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>endescender-cy</key>
    <string>endescender-cy.glif</string>
    <key>eng</key>
    <string>eng.glif</string>
    <key>entail-cy</key>
    <string>entail-cy.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>epsilon</key>
    <string>epsilon.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>equal.ordn</key>
    <string>equal.ordn.glif</string>
    <key>ertick-cy</key>
    <string>ertick-cy.glif</string>
    <key>eta</key>
    <string>eta.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>euro.tf</key>
    <string>euro.tf.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>exclam.sc</key>
    <string>exclam.sc.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>f.ordn</key>
    <string>f.ordn.glif</string>
    <key>f_f_t</key>
    <string>f_f_t.glif</string>
    <key>f_t</key>
    <string>f_t.glif</string>
    <key>five.lf</key>
    <string>five.lf.glif</string>
    <key>five.ordn</key>
    <string>five.ordn.glif</string>
    <key>five.osf</key>
    <string>five.osf.glif</string>
    <key>five.sc</key>
    <string>five.sc.glif</string>
    <key>five.tosf</key>
    <string>five.tosf.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>four.lf</key>
    <string>four.lf.glif</string>
    <key>four.ordn</key>
    <string>four.ordn.glif</string>
    <key>four.osf</key>
    <string>four.osf.glif</string>
    <key>four.sc</key>
    <string>four.sc.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>g.ordn</key>
    <string>g.ordn.glif</string>
    <key>gamma</key>
    <string>gamma.glif</string>
    <key>gedescender-cy</key>
    <string>gedescender-cy.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>germandbls.sc1</key>
    <string>germandbls.sc1.glif</string>
    <key>gestrokehook-cy</key>
    <string>gestrokehook-cy.glif</string>
    <key>ghemiddlehook-cy</key>
    <string>ghemiddlehook-cy.glif</string>
    <key>gravecomb.capstack</key>
    <string>gravecomb.capstack.glif</string>
    <key>gravecomb.grk</key>
    <string>gravecomb.grk.glif</string>
    <key>gravecomb.grksc</key>
    <string>gravecomb.grksc.glif</string>
    <key>gravecomb.stacksc</key>
    <string>gravecomb.stacksc.glif</string>
    <key>greater.ordn</key>
    <string>greater.ordn.glif</string>
    <key>greater.sc</key>
    <string>greater.sc.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglleft.alt</key>
    <string>guilsinglleft.alt.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>h.ordn</key>
    <string>h.ordn.glif</string>
    <key>haabkhasian-cy</key>
    <string>haabkhasian-cy.glif</string>
    <key>hadescender-cy</key>
    <string>hadescender-cy.glif</string>
    <key>hahook-cy</key>
    <string>hahook-cy.glif</string>
    <key>hbar</key>
    <string>hbar.glif</string>
    <key>hookabovecomb</key>
    <string>hookabovecomb.glif</string>
    <key>hookabovecomb.cap</key>
    <string>hookabovecomb.cap.glif</string>
    <key>hookabovecomb.stack</key>
    <string>hookabovecomb.stack.glif</string>
    <key>hryvnia</key>
    <string>hryvnia.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>hyphen.cap</key>
    <string>hyphen.cap.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>i.ordn</key>
    <string>i.ordn.glif</string>
    <key>iishorttail-cy</key>
    <string>iishorttail-cy.glif</string>
    <key>iota</key>
    <string>iota.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>j.dotless</key>
    <string>j.dotless.glif</string>
    <key>j.ordn</key>
    <string>j.ordn.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>k.ordn</key>
    <string>k.ordn.glif</string>
    <key>kadescender-cy</key>
    <string>kadescender-cy.glif</string>
    <key>kahook-cy</key>
    <string>kahook-cy.glif</string>
    <key>kaiSymbol</key>
    <string>kaiS_ymbol.glif</string>
    <key>kappa</key>
    <string>kappa.glif</string>
    <key>l.ordn</key>
    <string>l.ordn.glif</string>
    <key>lambda</key>
    <string>lambda.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>liraTurkish</key>
    <string>liraT_urkish.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>logicalnot.sc</key>
    <string>logicalnot.sc.glif</string>
    <key>longs._i</key>
    <string>longs._i.glif</string>
    <key>longs_i</key>
    <string>longs_i.glif</string>
    <key>longs_j</key>
    <string>longs_j.glif</string>
    <key>longs_longs</key>
    <string>longs_longs.glif</string>
    <key>longs_t</key>
    <string>longs_t.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>m.ordn</key>
    <string>m.ordn.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>manat</key>
    <string>manat.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>minute</key>
    <string>minute.glif</string>
    <key>mu</key>
    <string>mu.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>multiply.sc</key>
    <string>multiply.sc.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>n.ordn</key>
    <string>n.ordn.glif</string>
    <key>naira</key>
    <string>naira.glif</string>
    <key>napostrophe.sc</key>
    <string>napostrophe.sc.glif</string>
    <key>nine.lf</key>
    <string>nine.lf.glif</string>
    <key>nine.ordn</key>
    <string>nine.ordn.glif</string>
    <key>nine.osf</key>
    <string>nine.osf.glif</string>
    <key>nu</key>
    <string>nu.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>numbersign.ordn</key>
    <string>numbersign.ordn.glif</string>
    <key>numbersign.sc</key>
    <string>numbersign.sc.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>o.ordn</key>
    <string>o.ordn.glif</string>
    <key>ohorn</key>
    <string>ohorn.glif</string>
    <key>omega</key>
    <string>omega.glif</string>
    <key>omega1</key>
    <string>omega1.glif</string>
    <key>omicron</key>
    <string>omicron.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>one.01</key>
    <string>one.01.glif</string>
    <key>one.lf</key>
    <string>one.lf.glif</string>
    <key>one.ordn</key>
    <string>one.ordn.glif</string>
    <key>one.tosf</key>
    <string>one.tosf.glif</string>
    <key>one.tosf01</key>
    <string>one.tosf01.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>p.ordn</key>
    <string>p.ordn.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>paragraph.ordn</key>
    <string>paragraph.ordn.glif</string>
    <key>paragraph.sc</key>
    <string>paragraph.sc.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenleft.sc</key>
    <string>parenleft.sc.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>pemiddlehook-cy</key>
    <string>pemiddlehook-cy.glif</string>
    <key>percent.ordn</key>
    <string>percent.ordn.glif</string>
    <key>percent.sc</key>
    <string>percent.sc.glif</string>
    <key>phi</key>
    <string>phi.glif</string>
    <key>phi1</key>
    <string>phi1.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>plus.ordn</key>
    <string>plus.ordn.glif</string>
    <key>plus.sc</key>
    <string>plus.sc.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>prescription</key>
    <string>prescription.glif</string>
    <key>psi</key>
    <string>psi.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>q.longsc</key>
    <string>q.longsc.glif</string>
    <key>q.ordn</key>
    <string>q.ordn.glif</string>
    <key>q_uniA76B</key>
    <string>q_uniA_76B_.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>question.ordn</key>
    <string>question.ordn.glif</string>
    <key>question.sc</key>
    <string>question.sc.glif</string>
    <key>quotedbl.sc</key>
    <string>quotedbl.sc.glif</string>
    <key>quotesingle.alt</key>
    <string>quotesingle.alt.glif</string>
    <key>quotesingle.sc</key>
    <string>quotesingle.sc.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>r.ordn</key>
    <string>r.ordn.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>registered.sc</key>
    <string>registered.sc.glif</string>
    <key>rho</key>
    <string>rho.glif</string>
    <key>ruble</key>
    <string>ruble.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>s_t</key>
    <string>s_t.glif</string>
    <key>section.ordn</key>
    <string>section.ordn.glif</string>
    <key>section.sc</key>
    <string>section.sc.glif</string>
    <key>semisoftsign-cy</key>
    <string>semisoftsign-cy.glif</string>
    <key>seven.lf</key>
    <string>seven.lf.glif</string>
    <key>seven.ordn</key>
    <string>seven.ordn.glif</string>
    <key>seven.osf</key>
    <string>seven.osf.glif</string>
    <key>seven.sc</key>
    <string>seven.sc.glif</string>
    <key>shhadescender-cy</key>
    <string>shhadescender-cy.glif</string>
    <key>sigma</key>
    <string>sigma.glif</string>
    <key>sigma1</key>
    <string>sigma1.glif</string>
    <key>six.lf</key>
    <string>six.lf.glif</string>
    <key>six.ordn</key>
    <string>six.ordn.glif</string>
    <key>six.osf</key>
    <string>six.osf.glif</string>
    <key>six.sc</key>
    <string>six.sc.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>sterling.sc</key>
    <string>sterling.sc.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>t.ordn</key>
    <string>t.ordn.glif</string>
    <key>t_t</key>
    <string>t_t.glif</string>
    <key>tau</key>
    <string>tau.glif</string>
    <key>tbar</key>
    <string>tbar.glif</string>
    <key>tedescender-cy</key>
    <string>tedescender-cy.glif</string>
    <key>tenge</key>
    <string>tenge.glif</string>
    <key>tetse-cy</key>
    <string>tetse-cy.glif</string>
    <key>theta</key>
    <string>theta.glif</string>
    <key>theta.ipa</key>
    <string>theta.ipa.glif</string>
    <key>theta1</key>
    <string>theta1.glif</string>
    <key>thorn.f_</key>
    <string>thorn.f_.glif</string>
    <key>three.lf</key>
    <string>three.lf.glif</string>
    <key>three.ordn</key>
    <string>three.ordn.glif</string>
    <key>three.osf</key>
    <string>three.osf.glif</string>
    <key>three.sc</key>
    <string>three.sc.glif</string>
    <key>tildecomb</key>
    <string>tildecomb.glif</string>
    <key>tildecomb.cap</key>
    <string>tildecomb.cap.glif</string>
    <key>tildecomb.capstack</key>
    <string>tildecomb.capstack.glif</string>
    <key>tildecomb.stack</key>
    <string>tildecomb.stack.glif</string>
    <key>tonos</key>
    <string>tonos.glif</string>
    <key>tugrik</key>
    <string>tugrik.glif</string>
    <key>two.lf</key>
    <string>two.lf.glif</string>
    <key>two.ordn</key>
    <string>two.ordn.glif</string>
    <key>two.osf</key>
    <string>two.osf.glif</string>
    <key>two.sc</key>
    <string>two.sc.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>u.ordn</key>
    <string>u.ordn.glif</string>
    <key>uhorn</key>
    <string>uhorn.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>uni0180</key>
    <string>uni0180.glif</string>
    <key>uni0181</key>
    <string>uni0181.glif</string>
    <key>uni0182</key>
    <string>uni0182.glif</string>
    <key>uni0184</key>
    <string>uni0184.glif</string>
    <key>uni0186</key>
    <string>uni0186.glif</string>
    <key>uni0187</key>
    <string>uni0187.glif</string>
    <key>uni0188</key>
    <string>uni0188.glif</string>
    <key>uni018A</key>
    <string>uni018A_.glif</string>
    <key>uni018B</key>
    <string>uni018B_.glif</string>
    <key>uni018D</key>
    <string>uni018D_.glif</string>
    <key>uni018F</key>
    <string>uni018F_.glif</string>
    <key>uni0190</key>
    <string>uni0190.glif</string>
    <key>uni0191</key>
    <string>uni0191.glif</string>
    <key>uni0193</key>
    <string>uni0193.glif</string>
    <key>uni0194</key>
    <string>uni0194.glif</string>
    <key>uni0197</key>
    <string>uni0197.glif</string>
    <key>uni0198</key>
    <string>uni0198.glif</string>
    <key>uni019A</key>
    <string>uni019A_.glif</string>
    <key>uni019B</key>
    <string>uni019B_.glif</string>
    <key>uni019C</key>
    <string>uni019C_.glif</string>
    <key>uni019D</key>
    <string>uni019D_.glif</string>
    <key>uni019E</key>
    <string>uni019E_.glif</string>
    <key>uni019F.alt</key>
    <string>uni019F_.alt.glif</string>
    <key>uni01A2</key>
    <string>uni01A_2.glif</string>
    <key>uni01A3</key>
    <string>uni01A_3.glif</string>
    <key>uni01A4</key>
    <string>uni01A_4.glif</string>
    <key>uni01A6</key>
    <string>uni01A_6.glif</string>
    <key>uni01A8</key>
    <string>uni01A_8.glif</string>
    <key>uni01A9</key>
    <string>uni01A_9.glif</string>
    <key>uni01AC</key>
    <string>uni01A_C_.glif</string>
    <key>uni01AE</key>
    <string>uni01A_E_.glif</string>
    <key>uni01B1</key>
    <string>uni01B_1.glif</string>
    <key>uni01B2</key>
    <string>uni01B_2.glif</string>
    <key>uni01B3</key>
    <string>uni01B_3.glif</string>
    <key>uni01B4</key>
    <string>uni01B_4.glif</string>
    <key>uni01B5</key>
    <string>uni01B_5.glif</string>
    <key>uni01B6</key>
    <string>uni01B_6.glif</string>
    <key>uni01B7</key>
    <string>uni01B_7.glif</string>
    <key>uni01B8</key>
    <string>uni01B_8.glif</string>
    <key>uni01BA</key>
    <string>uni01B_A_.glif</string>
    <key>uni01BB</key>
    <string>uni01B_B_.glif</string>
    <key>uni01BC</key>
    <string>uni01B_C_.glif</string>
    <key>uni01BD</key>
    <string>uni01B_D_.glif</string>
    <key>uni01BE</key>
    <string>uni01B_E_.glif</string>
    <key>uni01C0</key>
    <string>uni01C_0.glif</string>
    <key>uni01C2</key>
    <string>uni01C_2.glif</string>
    <key>uni01E4</key>
    <string>uni01E_4.glif</string>
    <key>uni01E5</key>
    <string>uni01E_5.glif</string>
    <key>uni01EA</key>
    <string>uni01E_A_.glif</string>
    <key>uni01EB</key>
    <string>uni01E_B_.glif</string>
    <key>uni01F6</key>
    <string>uni01F_6.glif</string>
    <key>uni01F7</key>
    <string>uni01F_7.glif</string>
    <key>uni021C</key>
    <string>uni021C_.glif</string>
    <key>uni021D</key>
    <string>uni021D_.glif</string>
    <key>uni021F.01</key>
    <string>uni021F_.01.glif</string>
    <key>uni0220</key>
    <string>uni0220.glif</string>
    <key>uni0221</key>
    <string>uni0221.glif</string>
    <key>uni0222</key>
    <string>uni0222.glif</string>
    <key>uni0223</key>
    <string>uni0223.glif</string>
    <key>uni0224</key>
    <string>uni0224.glif</string>
    <key>uni0238</key>
    <string>uni0238.glif</string>
    <key>uni0239</key>
    <string>uni0239.glif</string>
    <key>uni023A</key>
    <string>uni023A_.glif</string>
    <key>uni023B</key>
    <string>uni023B_.glif</string>
    <key>uni023C</key>
    <string>uni023C_.glif</string>
    <key>uni023D</key>
    <string>uni023D_.glif</string>
    <key>uni023E</key>
    <string>uni023E_.glif</string>
    <key>uni023F</key>
    <string>uni023F_.glif</string>
    <key>uni0240</key>
    <string>uni0240.glif</string>
    <key>uni0242</key>
    <string>uni0242.glif</string>
    <key>uni0243</key>
    <string>uni0243.glif</string>
    <key>uni0244</key>
    <string>uni0244.glif</string>
    <key>uni0246</key>
    <string>uni0246.glif</string>
    <key>uni0248</key>
    <string>uni0248.glif</string>
    <key>uni024C</key>
    <string>uni024C_.glif</string>
    <key>uni024D</key>
    <string>uni024D_.glif</string>
    <key>uni024E</key>
    <string>uni024E_.glif</string>
    <key>uni024F</key>
    <string>uni024F_.glif</string>
    <key>uni0250</key>
    <string>uni0250.glif</string>
    <key>uni0251</key>
    <string>uni0251.glif</string>
    <key>uni0254</key>
    <string>uni0254.glif</string>
    <key>uni0255</key>
    <string>uni0255.glif</string>
    <key>uni0256</key>
    <string>uni0256.glif</string>
    <key>uni0258</key>
    <string>uni0258.glif</string>
    <key>uni025A</key>
    <string>uni025A_.glif</string>
    <key>uni025E</key>
    <string>uni025E_.glif</string>
    <key>uni025F</key>
    <string>uni025F_.glif</string>
    <key>uni0262</key>
    <string>uni0262.glif</string>
    <key>uni0263</key>
    <string>uni0263.glif</string>
    <key>uni0264</key>
    <string>uni0264.glif</string>
    <key>uni0268</key>
    <string>uni0268.glif</string>
    <key>uni0269</key>
    <string>uni0269.glif</string>
    <key>uni026B</key>
    <string>uni026B_.glif</string>
    <key>uni026C</key>
    <string>uni026C_.glif</string>
    <key>uni0270</key>
    <string>uni0270.glif</string>
    <key>uni0274</key>
    <string>uni0274.glif</string>
    <key>uni0279</key>
    <string>uni0279.glif</string>
    <key>uni027A</key>
    <string>uni027A_.glif</string>
    <key>uni027C</key>
    <string>uni027C_.glif</string>
    <key>uni027E</key>
    <string>uni027E_.glif</string>
    <key>uni0280</key>
    <string>uni0280.glif</string>
    <key>uni0281</key>
    <string>uni0281.glif</string>
    <key>uni0282</key>
    <string>uni0282.glif</string>
    <key>uni0283</key>
    <string>uni0283.glif</string>
    <key>uni0284</key>
    <string>uni0284.glif</string>
    <key>uni0285</key>
    <string>uni0285.glif</string>
    <key>uni0289</key>
    <string>uni0289.glif</string>
    <key>uni028F</key>
    <string>uni028F_.glif</string>
    <key>uni0291</key>
    <string>uni0291.glif</string>
    <key>uni0292</key>
    <string>uni0292.glif</string>
    <key>uni0293</key>
    <string>uni0293.glif</string>
    <key>uni0297</key>
    <string>uni0297.glif</string>
    <key>uni0298</key>
    <string>uni0298.glif</string>
    <key>uni0299</key>
    <string>uni0299.glif</string>
    <key>uni029B</key>
    <string>uni029B_.glif</string>
    <key>uni029E</key>
    <string>uni029E_.glif</string>
    <key>uni029F</key>
    <string>uni029F_.glif</string>
    <key>uni02A3</key>
    <string>uni02A_3.glif</string>
    <key>uni02A4</key>
    <string>uni02A_4.glif</string>
    <key>uni02A5</key>
    <string>uni02A_5.glif</string>
    <key>uni02A7</key>
    <string>uni02A_7.glif</string>
    <key>uni02A8</key>
    <string>uni02A_8.glif</string>
    <key>uni02AA</key>
    <string>uni02A_A_.glif</string>
    <key>uni02AB</key>
    <string>uni02A_B_.glif</string>
    <key>uni02AD</key>
    <string>uni02A_D_.glif</string>
    <key>uni02B4</key>
    <string>uni02B_4.glif</string>
    <key>uni02B6</key>
    <string>uni02B_6.glif</string>
    <key>uni02BC</key>
    <string>uni02B_C_.glif</string>
    <key>uni02BD</key>
    <string>uni02B_D_.glif</string>
    <key>uni02BE</key>
    <string>uni02B_E_.glif</string>
    <key>uni02C8</key>
    <string>uni02C_8.glif</string>
    <key>uni02D1</key>
    <string>uni02D_1.glif</string>
    <key>uni02DE</key>
    <string>uni02D_E_.glif</string>
    <key>uni02E0</key>
    <string>uni02E_0.glif</string>
    <key>uni02F7</key>
    <string>uni02F_7.glif</string>
    <key>uni0302</key>
    <string>uni0302.glif</string>
    <key>uni0302.cap</key>
    <string>uni0302.cap.glif</string>
    <key>uni0304.cap</key>
    <string>uni0304.cap.glif</string>
    <key>uni0306</key>
    <string>uni0306.glif</string>
    <key>uni0306.cap</key>
    <string>uni0306.cap.glif</string>
    <key>uni0306.cyr</key>
    <string>uni0306.cyr.glif</string>
    <key>uni0306.cyrcap</key>
    <string>uni0306.cyrcap.glif</string>
    <key>uni0308</key>
    <string>uni0308.glif</string>
    <key>uni0308.cap</key>
    <string>uni0308.cap.glif</string>
    <key>uni0308.grkstacksc</key>
    <string>uni0308.grkstacksc.glif</string>
    <key>uni030A</key>
    <string>uni030A_.glif</string>
    <key>uni030A.cap</key>
    <string>uni030A_.cap.glif</string>
    <key>uni030B</key>
    <string>uni030B_.glif</string>
    <key>uni030B.cap</key>
    <string>uni030B_.cap.glif</string>
    <key>uni030C</key>
    <string>uni030C_.glif</string>
    <key>uni030C.alt</key>
    <string>uni030C_.alt.glif</string>
    <key>uni030C.alt1</key>
    <string>uni030C_.alt1.glif</string>
    <key>uni030C.altcap</key>
    <string>uni030C_.altcap.glif</string>
    <key>uni030C.altcap1</key>
    <string>uni030C_.altcap1.glif</string>
    <key>uni030C.cap</key>
    <string>uni030C_.cap.glif</string>
    <key>uni030C.flat</key>
    <string>uni030C_.flat.glif</string>
    <key>uni030C.stack</key>
    <string>uni030C_.stack.glif</string>
    <key>uni030D</key>
    <string>uni030D_.glif</string>
    <key>uni030F</key>
    <string>uni030F_.glif</string>
    <key>uni030F.cap</key>
    <string>uni030F_.cap.glif</string>
    <key>uni0310</key>
    <string>uni0310.glif</string>
    <key>uni0311.cap</key>
    <string>uni0311.cap.glif</string>
    <key>uni0311.sc</key>
    <string>uni0311.sc.glif</string>
    <key>uni0313</key>
    <string>uni0313.glif</string>
    <key>uni0313.grkstack</key>
    <string>uni0313.grkstack.glif</string>
    <key>uni0313.sc</key>
    <string>uni0313.sc.glif</string>
    <key>uni0315</key>
    <string>uni0315.glif</string>
    <key>uni0318</key>
    <string>uni0318.glif</string>
    <key>uni031A</key>
    <string>uni031A_.glif</string>
    <key>uni031B</key>
    <string>uni031B_.glif</string>
    <key>uni031D</key>
    <string>uni031D_.glif</string>
    <key>uni031F</key>
    <string>uni031F_.glif</string>
    <key>uni0320</key>
    <string>uni0320.glif</string>
    <key>uni0325</key>
    <string>uni0325.glif</string>
    <key>uni0326</key>
    <string>uni0326.glif</string>
    <key>uni0327</key>
    <string>uni0327.glif</string>
    <key>uni0327.cap</key>
    <string>uni0327.cap.glif</string>
    <key>uni0328.cap</key>
    <string>uni0328.cap.glif</string>
    <key>uni0329</key>
    <string>uni0329.glif</string>
    <key>uni032A</key>
    <string>uni032A_.glif</string>
    <key>uni032C</key>
    <string>uni032C_.glif</string>
    <key>uni032D</key>
    <string>uni032D_.glif</string>
    <key>uni032E</key>
    <string>uni032E_.glif</string>
    <key>uni032F</key>
    <string>uni032F_.glif</string>
    <key>uni0331</key>
    <string>uni0331.glif</string>
    <key>uni0337</key>
    <string>uni0337.glif</string>
    <key>uni033C</key>
    <string>uni033C_.glif</string>
    <key>uni033D</key>
    <string>uni033D_.glif</string>
    <key>uni033E</key>
    <string>uni033E_.glif</string>
    <key>uni0345</key>
    <string>uni0345.glif</string>
    <key>uni035D</key>
    <string>uni035D_.glif</string>
    <key>uni0394</key>
    <string>uni0394.glif</string>
    <key>uni0394.sc</key>
    <string>uni0394.sc.glif</string>
    <key>uni03D9</key>
    <string>uni03D_9.glif</string>
    <key>uni03DB</key>
    <string>uni03D_B_.glif</string>
    <key>uni03DD</key>
    <string>uni03D_D_.glif</string>
    <key>uni03E1</key>
    <string>uni03E_1.glif</string>
    <key>uni03F0</key>
    <string>uni03F_0.glif</string>
    <key>uni03F1</key>
    <string>uni03F_1.glif</string>
    <key>uni03F2</key>
    <string>uni03F_2.glif</string>
    <key>uni03FB</key>
    <string>uni03F_B_.glif</string>
    <key>uni0402</key>
    <string>uni0402.glif</string>
    <key>uni0404</key>
    <string>uni0404.glif</string>
    <key>uni0409</key>
    <string>uni0409.glif</string>
    <key>uni0409.alt</key>
    <string>uni0409.alt.glif</string>
    <key>uni040A</key>
    <string>uni040A_.glif</string>
    <key>uni040B</key>
    <string>uni040B_.glif</string>
    <key>uni040F</key>
    <string>uni040F_.glif</string>
    <key>uni0411</key>
    <string>uni0411.glif</string>
    <key>uni0413</key>
    <string>uni0413.glif</string>
    <key>uni0414</key>
    <string>uni0414.glif</string>
    <key>uni0414.alt</key>
    <string>uni0414.alt.glif</string>
    <key>uni0416</key>
    <string>uni0416.glif</string>
    <key>uni0418</key>
    <string>uni0418.glif</string>
    <key>uni041A</key>
    <string>uni041A_.glif</string>
    <key>uni041B</key>
    <string>uni041B_.glif</string>
    <key>uni041B.alt</key>
    <string>uni041B_.alt.glif</string>
    <key>uni041F</key>
    <string>uni041F_.glif</string>
    <key>uni0423</key>
    <string>uni0423.glif</string>
    <key>uni0424</key>
    <string>uni0424.glif</string>
    <key>uni0426</key>
    <string>uni0426.glif</string>
    <key>uni0427</key>
    <string>uni0427.glif</string>
    <key>uni0428</key>
    <string>uni0428.glif</string>
    <key>uni042A</key>
    <string>uni042A_.glif</string>
    <key>uni042C</key>
    <string>uni042C_.glif</string>
    <key>uni042D</key>
    <string>uni042D_.glif</string>
    <key>uni042E</key>
    <string>uni042E_.glif</string>
    <key>uni042F</key>
    <string>uni042F_.glif</string>
    <key>uni0431</key>
    <string>uni0431.glif</string>
    <key>uni0432</key>
    <string>uni0432.glif</string>
    <key>uni0434</key>
    <string>uni0434.glif</string>
    <key>uni0434.alt</key>
    <string>uni0434.alt.glif</string>
    <key>uni0436</key>
    <string>uni0436.glif</string>
    <key>uni0438</key>
    <string>uni0438.glif</string>
    <key>uni043A</key>
    <string>uni043A_.glif</string>
    <key>uni043B</key>
    <string>uni043B_.glif</string>
    <key>uni043B.alt</key>
    <string>uni043B_.alt.glif</string>
    <key>uni043C</key>
    <string>uni043C_.glif</string>
    <key>uni043D</key>
    <string>uni043D_.glif</string>
    <key>uni0444</key>
    <string>uni0444.glif</string>
    <key>uni0446</key>
    <string>uni0446.glif</string>
    <key>uni0449</key>
    <string>uni0449.glif</string>
    <key>uni044A</key>
    <string>uni044A_.glif</string>
    <key>uni044C</key>
    <string>uni044C_.glif</string>
    <key>uni044D</key>
    <string>uni044D_.glif</string>
    <key>uni044E</key>
    <string>uni044E_.glif</string>
    <key>uni044F</key>
    <string>uni044F_.glif</string>
    <key>uni0452</key>
    <string>uni0452.glif</string>
    <key>uni0454</key>
    <string>uni0454.glif</string>
    <key>uni0459</key>
    <string>uni0459.glif</string>
    <key>uni0459.alt</key>
    <string>uni0459.alt.glif</string>
    <key>uni045A</key>
    <string>uni045A_.glif</string>
    <key>uni045F</key>
    <string>uni045F_.glif</string>
    <key>uni0462</key>
    <string>uni0462.glif</string>
    <key>uni0463</key>
    <string>uni0463.glif</string>
    <key>uni0474</key>
    <string>uni0474.glif</string>
    <key>uni0475</key>
    <string>uni0475.glif</string>
    <key>uni0490</key>
    <string>uni0490.glif</string>
    <key>uni04AF</key>
    <string>uni04A_F_.glif</string>
    <key>uni04B0</key>
    <string>uni04B_0.glif</string>
    <key>uni04B1</key>
    <string>uni04B_1.glif</string>
    <key>uni04D8</key>
    <string>uni04D_8.glif</string>
    <key>uni04D9</key>
    <string>uni04D_9.glif</string>
    <key>uni0510</key>
    <string>uni0510.glif</string>
    <key>uni0511</key>
    <string>uni0511.glif</string>
    <key>uni1D00</key>
    <string>uni1D_00.glif</string>
    <key>uni1D07</key>
    <string>uni1D_07.glif</string>
    <key>uni1D0D</key>
    <string>uni1D_0D_.glif</string>
    <key>uni1D6A</key>
    <string>uni1D_6A_.glif</string>
    <key>uni1DC4</key>
    <string>uni1D_C_4.glif</string>
    <key>uni1E9B</key>
    <string>uni1E_9B_.glif</string>
    <key>uni1E9C</key>
    <string>uni1E_9C_.glif</string>
    <key>uni1E9C.short</key>
    <string>uni1E_9C_.short.glif</string>
    <key>uni1E9D</key>
    <string>uni1E_9D_.glif</string>
    <key>uni1E9D.short</key>
    <string>uni1E_9D_.short.glif</string>
    <key>uni1E9E</key>
    <string>uni1E_9E_.glif</string>
    <key>uni1E9F</key>
    <string>uni1E_9F_.glif</string>
    <key>uni1EFA</key>
    <string>uni1E_F_A_.glif</string>
    <key>uni1EFC</key>
    <string>uni1E_F_C_.glif</string>
    <key>uni1EFE</key>
    <string>uni1E_F_E_.glif</string>
    <key>uni1FBF</key>
    <string>uni1F_B_F_.glif</string>
    <key>uni1FC0</key>
    <string>uni1F_C_0.glif</string>
    <key>uni1FCD</key>
    <string>uni1F_C_D_.glif</string>
    <key>uni2015</key>
    <string>uni2015.glif</string>
    <key>uni2016</key>
    <string>uni2016.glif</string>
    <key>uni2016.ordn</key>
    <string>uni2016.ordn.glif</string>
    <key>uni2035</key>
    <string>uni2035.glif</string>
    <key>uni203D</key>
    <string>uni203D_.glif</string>
    <key>uni203E</key>
    <string>uni203E_.glif</string>
    <key>uni208B</key>
    <string>uni208B_.glif</string>
    <key>uni20A5</key>
    <string>uni20A_5.glif</string>
    <key>uni20A8</key>
    <string>uni20A_8.glif</string>
    <key>uni20B2</key>
    <string>uni20B_2.glif</string>
    <key>uni20B9</key>
    <string>uni20B_9.glif</string>
    <key>uni210E</key>
    <string>uni210E_.glif</string>
    <key>uni2113</key>
    <string>uni2113.glif</string>
    <key>uni2116</key>
    <string>uni2116.glif</string>
    <key>uni211F</key>
    <string>uni211F_.glif</string>
    <key>uni2123</key>
    <string>uni2123.glif</string>
    <key>uni2197</key>
    <string>uni2197.glif</string>
    <key>uni219E</key>
    <string>uni219E_.glif</string>
    <key>uni219F</key>
    <string>uni219F_.glif</string>
    <key>uni21DA</key>
    <string>uni21D_A_.glif</string>
    <key>uni2219</key>
    <string>uni2219.glif</string>
    <key>uni226E</key>
    <string>uni226E_.glif</string>
    <key>uni2619</key>
    <string>uni2619.glif</string>
    <key>uni2619.01</key>
    <string>uni2619.01.glif</string>
    <key>uni267E</key>
    <string>uni267E_.glif</string>
    <key>uni270B</key>
    <string>uni270B_.glif</string>
    <key>uni2B46</key>
    <string>uni2B_46.glif</string>
    <key>uni2C60</key>
    <string>uni2C_60.glif</string>
    <key>uni2C61</key>
    <string>uni2C_61.glif</string>
    <key>uni2C62</key>
    <string>uni2C_62.glif</string>
    <key>uni2C63</key>
    <string>uni2C_63.glif</string>
    <key>uni2C64</key>
    <string>uni2C_64.glif</string>
    <key>uni2C65</key>
    <string>uni2C_65.glif</string>
    <key>uni2C66</key>
    <string>uni2C_66.glif</string>
    <key>uni2C69</key>
    <string>uni2C_69.glif</string>
    <key>uni2C6C</key>
    <string>uni2C_6C_.glif</string>
    <key>uni2C6D</key>
    <string>uni2C_6D_.glif</string>
    <key>uni2C6E</key>
    <string>uni2C_6E_.glif</string>
    <key>uni2C6F</key>
    <string>uni2C_6F_.glif</string>
    <key>uni2C71</key>
    <string>uni2C_71.glif</string>
    <key>uni2C72</key>
    <string>uni2C_72.glif</string>
    <key>uni2C73</key>
    <string>uni2C_73.glif</string>
    <key>uni2C74</key>
    <string>uni2C_74.glif</string>
    <key>uni2C75</key>
    <string>uni2C_75.glif</string>
    <key>uni2C7A</key>
    <string>uni2C_7A_.glif</string>
    <key>uni2C7E</key>
    <string>uni2C_7E_.glif</string>
    <key>uni2C7F</key>
    <string>uni2C_7F_.glif</string>
    <key>uni2E24</key>
    <string>uni2E_24.glif</string>
    <key>uni2E3A</key>
    <string>uni2E_3A_.glif</string>
    <key>uni3003</key>
    <string>uni3003.glif</string>
    <key>uniA728</key>
    <string>uniA_728.glif</string>
    <key>uniA729</key>
    <string>uniA_729.glif</string>
    <key>uniA72A</key>
    <string>uniA_72A_.glif</string>
    <key>uniA72B</key>
    <string>uniA_72B_.glif</string>
    <key>uniA72C</key>
    <string>uniA_72C_.glif</string>
    <key>uniA72D</key>
    <string>uniA_72D_.glif</string>
    <key>uniA731</key>
    <string>uniA_731.glif</string>
    <key>uniA749</key>
    <string>uniA_749.glif</string>
    <key>uniA751</key>
    <string>uniA_751.glif</string>
    <key>uniA753</key>
    <string>uniA_753.glif</string>
    <key>uniA757</key>
    <string>uniA_757.glif</string>
    <key>uniA76B</key>
    <string>uniA_76B_.glif</string>
    <key>uniA78D</key>
    <string>uniA_78D_.glif</string>
    <key>uniA7FE</key>
    <string>uniA_7F_E_.glif</string>
    <key>uniFB00</key>
    <string>uniF_B_00.glif</string>
    <key>uniFB02</key>
    <string>uniF_B_02.glif</string>
    <key>uniFFFD</key>
    <string>uniF_F_F_D_.glif</string>
    <key>upsilon</key>
    <string>upsilon.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>v.ordn</key>
    <string>v.ordn.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>whiteDiamond</key>
    <string>whiteD_iamond.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>x.ordn</key>
    <string>x.ordn.glif</string>
    <key>xi</key>
    <string>xi.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>y.ordn</key>
    <string>y.ordn.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>yusbig-cy</key>
    <string>yusbig-cy.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>zero.lf</key>
    <string>zero.lf.glif</string>
    <key>zero.ordn</key>
    <string>zero.ordn.glif</string>
    <key>zero.osf</key>
    <string>zero.osf.glif</string>
    <key>zero.sc</key>
    <string>zero.sc.glif</string>
    <key>zero.tosf</key>
    <string>zero.tosf.glif</string>
    <key>zeta</key>
    <string>zeta.glif</string>
    <key>zhedescender-cy</key>
    <string>zhedescender-cy.glif</string>
  </dict>
</plist>
