<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>8190214F-7B12-45EB-A047-024E6593CBC5</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.g</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
