<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Bold Sep 14 15, 17:55</string>
      <string>glyphs.B_old S_ep 14 15, 17_55</string>
    </array>
    <array>
      <string>Bold Sep 14 15, 17:55.background</string>
      <string>glyphs.B_old S_ep 14 15, 17_55.background</string>
    </array>
    <array>
      <string>Bold Nov 27 15, 17:56</string>
      <string>glyphs.B_old N_ov 27 15, 17_56</string>
    </array>
    <array>
      <string>Oct 25 17, 15:30</string>
      <string>glyphs.O_ct 25 17, 15_30</string>
    </array>
    <array>
      <string>Oct 25 17, 15:30.background</string>
      <string>glyphs.O_ct 25 17, 15_30.background</string>
    </array>
    <array>
      <string>Bold Nov 23 15, 10:32</string>
      <string>glyphs.B_old N_ov 23 15, 10_32</string>
    </array>
    <array>
      <string>Bold Nov 23 15, 10:32.background</string>
      <string>glyphs.B_old N_ov 23 15, 10_32.background</string>
    </array>
  </array>
</plist>
