<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7C542027-6F13-435A-B184-3D1E30C821C2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni04AF</key>
      <integer>4</integer>
    </dict>
  </dict>
</plist>
