<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Regular Italic Oct 28 16, 11:02</string>
      <string>glyphs.R_egular I_talic O_ct 28 16, 11_02</string>
    </array>
    <array>
      <string>Regular Italic Oct 28 16, 11:02.background</string>
      <string>glyphs.R_egular I_talic O_ct 28 16, 11_02.background</string>
    </array>
    <array>
      <string>Feb 28 17, 19:58</string>
      <string>glyphs.F_eb 28 17, 19_58</string>
    </array>
    <array>
      <string>Feb 28 17, 19:58.background</string>
      <string>glyphs.F_eb 28 17, 19_58.background</string>
    </array>
    <array>
      <string>Regular Italic Nov 4 16, 00:42</string>
      <string>glyphs.R_egular I_talic N_ov 4 16, 00_42</string>
    </array>
    <array>
      <string>Regular Italic Nov 4 16, 00:42.background</string>
      <string>glyphs.R_egular I_talic N_ov 4 16, 00_42.background</string>
    </array>
    <array>
      <string>Feb 17 17, 12:08</string>
      <string>glyphs.F_eb 17 17, 12_08</string>
    </array>
    <array>
      <string>Feb 17 17, 12:08.background</string>
      <string>glyphs.F_eb 17 17, 12_08.background</string>
    </array>
    <array>
      <string>Feb 17 17, 12:14</string>
      <string>glyphs.F_eb 17 17, 12_14</string>
    </array>
    <array>
      <string>Feb 17 17, 12:14.background</string>
      <string>glyphs.F_eb 17 17, 12_14.background</string>
    </array>
    <array>
      <string>Feb 17 17, 12:17</string>
      <string>glyphs.F_eb 17 17, 12_17</string>
    </array>
    <array>
      <string>Feb 17 17, 12:17.background</string>
      <string>glyphs.F_eb 17 17, 12_17.background</string>
    </array>
    <array>
      <string>Dec 6 16, 17:17</string>
      <string>glyphs.D_ec 6 16, 17_17</string>
    </array>
    <array>
      <string>Dec 6 16, 17:55</string>
      <string>glyphs.D_ec 6 16, 17_55</string>
    </array>
    <array>
      <string>Dec 12 16, 17:28</string>
      <string>glyphs.D_ec 12 16, 17_28</string>
    </array>
    <array>
      <string>Dec 12 16, 17:28.background</string>
      <string>glyphs.D_ec 12 16, 17_28.background</string>
    </array>
    <array>
      <string>Dec 14 16, 18:23</string>
      <string>glyphs.D_ec 14 16, 18_23</string>
    </array>
    <array>
      <string>Dec 14 16, 18:23.background</string>
      <string>glyphs.D_ec 14 16, 18_23.background</string>
    </array>
    <array>
      <string>Feb 15 17, 17:16</string>
      <string>glyphs.F_eb 15 17, 17_16</string>
    </array>
    <array>
      <string>Feb 15 17, 17:16.background</string>
      <string>glyphs.F_eb 15 17, 17_16.background</string>
    </array>
    <array>
      <string>Dec 9 16, 18:05</string>
      <string>glyphs.D_ec 9 16, 18_05</string>
    </array>
  </array>
</plist>
