<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AAD9E1E9-8586-4A6B-9087-82B1CF8E38DC</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni019B</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
