<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>7D05CED9-06B2-47B3-8749-B41BE2942DB1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.x</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
