<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>4285C827-4386-4C75-B6D3-6826A21F73BF</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.section.ordn</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
