<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>222A03B6-7B41-4D92-88A9-FB1C215FC0C1</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.rho</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
