<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>1DBA369A-8292-42C6-8BFE-5D6EC260E99D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.Kastroke-cy</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
