<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>B9749EE0-2C18-4C14-B090-F0C376F01AB7</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.i.TRKsc</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
