<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>9A242D7B-8657-4D79-9414-5D01D9C59C15</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.uni1D4D</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
