<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>AD2CCD2B-CC5F-4AA8-AFA3-7EB23D4EAA1D</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.S</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
