<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>E8ADF19C-678D-4BBB-8E4E-37CCB47DC9F2</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.alpha</key>
      <integer>2</integer>
    </dict>
  </dict>
</plist>
