<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>lib</key>
    <dict>
      <key>com.schriftgestaltung.layerId</key>
      <string>39EABB18-F241-4695-8E32-34A72BCA690F</string>
      <key>com.schriftgestaltung.layerOrderInGlyph.rho</key>
      <integer>3</integer>
    </dict>
  </dict>
</plist>
