<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <array>
      <string>public.default</string>
      <string>glyphs</string>
    </array>
    <array>
      <string>public.background</string>
      <string>glyphs.public.background</string>
    </array>
    <array>
      <string>Bold Italic Nov 1 16, 13:56</string>
      <string>glyphs.B_old I_talic N_ov 1 16, 13_56</string>
    </array>
    <array>
      <string>Bold Italic Nov 1 16, 13:56.background</string>
      <string>glyphs.B_old I_talic N_ov 1 16, 13_56.background</string>
    </array>
    <array>
      <string>Dec 16 16, 17:26</string>
      <string>glyphs.D_ec 16 16, 17_26</string>
    </array>
    <array>
      <string>Dec 16 16, 17:26.background</string>
      <string>glyphs.D_ec 16 16, 17_26.background</string>
    </array>
    <array>
      <string>Bold Italic Nov 2 16, 17:38</string>
      <string>glyphs.B_old I_talic N_ov 2 16, 17_38</string>
    </array>
    <array>
      <string>Bold Italic Nov 2 16, 17:38.background</string>
      <string>glyphs.B_old I_talic N_ov 2 16, 17_38.background</string>
    </array>
    <array>
      <string>Dec 12 16, 17:32</string>
      <string>glyphs.D_ec 12 16, 17_32</string>
    </array>
    <array>
      <string>Dec 12 16, 17:32.background</string>
      <string>glyphs.D_ec 12 16, 17_32.background</string>
    </array>
  </array>
</plist>
